body{
	color: black;
}
#cov{
    background-image: url("../images/townhousepic5.jpg");
    background-size: cover;
    width: 100vw;
    width: 100%;
	color: black;
}
#bomi{
	margin-top: 9px;
	overflow: auto;
	z-index: auto;
    opacity: 0.80;  
    position: absolute;
	height: fit-content;
    background-color:  aliceblue;
}
.term, #lefthead{
	color: black;
}
#canvas{
	background-color: blue;
	align-items: center;
}
.leftside-menu{
	overflow: auto;
	z-index: auto;
	color: aliceblue;
}
.content-page{
	align-content: center;
}
#gallery-wrap{
	align-content: center;
}
#gallery-images{
	width: 100%;	
	border: none;	
	grid-template-columns: repeat(3, 1fr);
	border-radius: 20px;
	align-content: center;
}
#cardphase{
	grid-template-columns: repeat(3, 1fr);
}

.content-page{
	
	margin-top: 5px;
	margin-bottom: 15px;
	
}
#image-plate{
	border-radius: 15px;
	background-color:  aliceblue;
    opacity: 0.80;
}
#stuff{
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
}
p{
	align-self: center;
}
.image-section{
	width: 100%;
	border-radius: 40px;
}
.image-section img{	
	height: 400px;
	width: 100%;
	padding: 10px;
	margin: 20px auto;
	display: block;
	background-color: rgb(226, 106, 25);
    opacity: 0.80;;
	border-radius: 20px;
}
footer{
    box-sizing: border-box;
	margin-top: 20px;
	position: relative;
    display: block;
	background-color: rgb(226, 106, 25);
    opacity: 0.80;
	z-index: 3;
	height: 80px;
    width: 100%;
    border-radius: 3px;
    align-items: center;
    padding: 0px 50px;
}