body{
    background-image: url(../images/coastline-home-art-design-templates-5c093c7b39c639b47ee1fd5f59f9426f_screen.jpg);
}
#bass{
    opacity: 98%;
    padding-top: 30px;
    padding-bottom: 30px;
}

